html, body {height: 850px; overflow-y: auto;}
body {
	font-family: 'Microsoft Yahei Light', sans-serif;
	margin: 0;
	background: #eeeeed;
	font-weight: bold;
}
[data-icon] {background: url('../img/frame.png') no-repeat; display: inline-block;}
[data-flex] {display: flex; align-items: center;}
/* Spec */
body > header * {cursor: pointer;}
body > header * {transition: 0.1s color text-shadow;}
body > header *:hover {color: gray; text-shadow: 0 0 2px ghostwhite;}
input[type=button], button {
	background: #388ac1;
	color: white;
	border: none;
	outline: none;
	border-radius: 1px;
	padding: 8px 16px;
}
select {
	border-color: #dfdfdf;
	padding: 6px;
	font-size: 14px;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
	background: url('../img/frame.png') no-repeat right;	
}
/* Header */
body > header {
	padding: 10px 30px;
	background: white;
	font-size: 12px;
	color: #aaa;
}
body > header * {
	display: inline-block;
	font-size: 12px;
	margin: 0 0.25em 0 0;
}
body > header *:last-child {color: #6898c2;}
body > header *:not(:last-child)::after {content: " / "}
article {
	margin: 20px 60px;
	align-items: initial;
	font-size: 14px;
}
/* Module 1 */
.module1 {
	background: white;
	border: 1px solid #dddbdd;
	padding: 14px 30px;
}
.module1 > div {
	display: inline-block;
	margin-right: 38px;
	height: 84px;
}
.module1 select {
	margin: 6px 0 0;
	background-position: 100px -102px;
}
.module1 div span {color: #aaa; margin: 0 16px;}
.module1 .query select {width: 100px; background: url('../img/frame.png') no-repeat right; background-position: 80px -73px;}
.module1 .object select, .module1 .detail select {width: 120px;}
.module1 .detail select.short {width: 70px;}
.module1 .detail span.short {margin-right: 12px;}
.module1 input[type=button] {margin: 24px 0px;}

/* Module2 */
.module2 > * {
	height: 64px;
	margin-right: 6px;
	border: 1px solid #d6d4d7;
	background-color: white;
}
.module2 button {
	width: 32px;
	background-color: white;
	outline: none;
}
.module2 button:first-of-type {background-position: -55px 23px;}
.module2 button:last-of-type {background-position: -55px -107px;}
.module2 .price {
	width: 110px;
	height: calc(64px - 6px);
	padding: 6px 12px 0 0;
	text-align: center;
}
.module2 .price.active {
	border-top: 3px solid #4388c9;
	height: calc(64px - 6px - 3px);
}
.module2 .price time {
	display: block;
	font-size: 14px;
	padding-left: 2px;
}
.module2 .price span::before {
	content: "￥";
	color: #adadac;
	font-size: 16px;
}
.module2 .price span {
	color: #ec6500;
	font-size: 21px;
}
.module2 .history {
	background-position: 15px 15px;
	background-repeat: no-repeat;
	width: 128px;
	margin-right: 0px;
}
.module2 .history div {
	height: auto;
	background: white;
	margin-left: 55px;
	font-size: 1em;
	padding-top: 1.5em;
}

/* Module 3 */
.module2 + header > * {
	margin: 20px 60px 0;
	font-size: 12px;
	display: block;
}
.module3 {
	margin-top: 0.5em;
	justify-content: space-between;
	--g: #43b29e;
	--b: #388ac1;
	--r: #d04a36;
	--y: #e2cd46;
	margin-bottom: 0px;
}
.module3 > div {
	height: 75px;
	width: 200px;
	border: 1px solid #d2cfd2;
	background: white;
	border-left: 6px solid;
}
.module3 > div .icon {
	height: 45px;
	width: 70px;
}
.module3 > div span {
	display: block;
	margin-left: 1em;
	margin-right: 60px;
}
.module3 > div span::after {
	content: "成交量";
	display: block;
	color: #b1b0b0;
	margin-top: 0.5em;
}
.module3 .g {border-left-color: var(--g);}
.module3 .g .icon {background: var(--g);}
.module3 .b {border-left-color: var(--b);}
.module3 .b .icon {background: var(--b);}
.module3 .r {border-left-color: var(--r);}
.module3 .r .icon {background: var(--r);}
.module3 .y {border-left-color: var(--y);}
.module3 .y .icon {background: var(--y);}

/* Spec for cards */
.card {
	display: inline-block;
	border: 1px solid #cdcacd;
	box-shadow: 0px 0px 2px #cdcacd;
	margin-top: 12px;
	background: white;
	margin-right: 10px;
	float: left;
}
.card > header {
	background: #f4f5f6;
	color: #b0afaf;
	padding: 16px 20px;
}
.card > section {
	padding: 12px 20px;
}

/* Module 4 */
.module4 {
    width: 520px;
}
.module4 section header div {
	display: inline-block;
	background: #ededf0;
	color: #535354;
	padding: 6px 20px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border: 1px solid #ededf0;
}
.module4 section header div.active {
	padding-top: 8px;
	background: white;
	border-color: #d7d8d8;
	border-bottom: none;
	position: relative;
	top: 2px;
}
.module4 main {
	padding: 30px 40px;
	border: 1px solid #d7d8d8;
}
.module4 main > div > div {
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid #dfdfdf;
}
.module4 main > div + div > div {border-top: none;}
.module4 main > div > div + div {border-left: none;}
.module4 main .active {background: #f4f5f6;}

/* Module 5 */
.module5 {
	width: 435px;
	height: 372px;
	margin-left: 0px;
}
.module5 main {padding: 1em 34px;}
.module5 main header {
	padding-bottom: 10px;
	padding-left: 6px;
	border-bottom: 1px solid #e9e8e8;
}
.module5 main .tip {
	color: #c3c2c2;
	margin: 6px 0;
}

.module5 main section {
	border-bottom: 1px solid #e9e8e8;
	padding: 6px;
}
.module5 main .manager {margin-left: 1em;}
.module5 main .price {width: 100px; border-right: 1px solid #e9e8e8;}
.module5 main .price span::before {content: "￥";}
.module5 main .details {
	padding-left: 6px;
	height: calc(124px - 12px);
}

.module5 main footer {
	border-top: 1px solid #e9e8e8;
	padding-top: 6px;
}
.module5 main footer button {float: right;}
.module5 main footer .checkbox {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAYAAAD0f5bSAAAArklEQVQokb3SMQ6CMBgF4FfD1JDigDveQj2NHM5ar4GJrGrChtIj4EiwVEtCAlgSO+gbOjT/16HvJ1mWaTiEMYaZC+jyG1TXNZLkCKXUd8gAIQSulzOqqvpETdNYwaMssY1jUEqHSL//j3OOU5page/7gwc9cxACrNYbHPY7qKeClMUkaOf7PeW3ewuDYD4JTE9kXG4hJRZhaAUd8saXyyiyDvfzv40gWmunhTV5ASS+Um7W71PFAAAAAElFTkSuQmCC);
	background-size: 100%;
	width: 1em;
	height: 1em;
	display: inline-block;
}
.module5 main footer label {
	margin-top: -4px;
	margin-left: 4px;
}

/* Module 6 */
.module6 {
	clear: both;
	width: 375px;
}
.module6 select {width: 85px; background-position: 65px -72px;}
.module6 select.mo {width: 60px; background-position: 40px -72px;}
.module6 button {
	background: white;
	color: black;
	border: 1px solid #cbcccc;
	padding: 7px 8px;
}
.module6 table {
	table-layout:fixed;
	margin: 10px 20px;
	text-align: center;
	border-collapse: collapse;
}
.module6 thead tr {border-top: 1px solid #b2cfed; border-bottom: 1px solid #e3e3e4;}
.module6 thead td {width: 45px;	height: 30px;}
.module6 tbody td {width: 45px;	padding: 10px 0;}
.module6 tbody .holiday {color: red;}
.module6 tbody td:nth-last-child(2), .module6 tbody td:last-child {color: red;}
.module6 tbody td:nth-last-child(2) div, .module6 tbody td:last-child div {color: black;}

/* Module 7 */
.module7 {
	width: 575px;
	margin-left: 0px;
}